.tooltip {
  position: absolute;
  width: 200px;
  font-size: 13.5px;
  background-color: rgb(18, 18, 20);
  border: 3px solid rgb(138, 138, 140);
  color: white;
  padding: 12px;
  border-radius: 10px;
  z-index: 9999;
  user-select: none;
}

.tooltipInfo {
  color: rgb(70, 209, 244);
  font-weight: bold;
}

.tooltipInfo.variation1 {
  color: rgb(112, 172, 172);
}

.tooltipGrey {
  color: rgb(95, 95, 95);
  font-style: italic;
}
