.AccumulationMain {
  width: 900px;
  user-select: none;
}

.AccumulationTitleHeader {
  width: 900px;
  text-align: center;
  color: rgb(15, 220, 128);
}

.AccumulationSubtitle {
  font-style: italic;
  color: rgb(108, 108, 110);
  font-size: 13px;
  width: 50%;
}

.AccumulationTaskList {
  display: grid;
  grid-template-columns: 440px 500px;
  grid-template-rows: repeat(6, 120px);
  grid-gap: 20px;
  row-gap: 10px;
  width: 100%;
  padding: 10px 0 10px;
  font-size: 14px;
  margin-top: 20px;
}
