.Sidebar {
  display: block;
  height: calc(100vh - 100px);
  width: 150px;
  padding: 30px 15px 30px;
  float: left;
}

.SidebarButton.Button0 {
  border-color: rgb(255, 165, 0);
  color: rgb(255, 165, 0);
  background-color: rgb(120, 78, 0);
}

.SidebarButton.Button1 {
  border-color: rgb(106, 176, 35);
  color: rgb(106, 176, 35);
  background-color: rgb(44, 67, 21);
}

.Button2,
.Button3,
.Button4 {
  border-color: rgb(232, 92, 92);
  color: rgb(232, 92, 92);
  background-color: rgb(67, 32, 32);
}
